<h1>Book Lists</h1>
<button><%= link_to "Add a new book!", '/books/new' %></button>

<ul>
  <% @books.each do |book| %>
    <li>
      <%#= link_to article.title, article_path(article.id) %>
      <%#= link_to article.title, article_path(article) %>
      <%= link_to book.bookname, book %>
      <span><%= link_to 'Updated', edit_book_path(book.id) %></span>
    </li>
  <% end %>
</ul>