<article>
  <h1><%= @book.bookname %></h1>
  <section>
    <div>
    <h2>Description</h2>
    <%= @book.description %>
  </div>
  <div>
    <h2>Page</h2>
    <%= @book.page %>
  </div>
  <div>
    <h2>Price</h2>
    <%= @book.price %>
  </div>
  </section>
</article>
